.search-container {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #2d4f9796;
}

.search-form {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1320px;
}
